
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
        .nav-item {
                @apply hover:text-slate-800 
                        cursor-pointer 
                        text-slate-600
        }

        .svg-container {
                @apply top-2 absolute
        }

       .image-actions-icon {
               @apply   p-3
                        rounded
                        text-black
                        bg-slate-200
                        ml-4
                        
       }
       
       .image-action-container {
               @apply   relative
                        after:transition 
                        after:ease-out 
                        after:duration-1000
                        after:content-['']
                        after:absolute
                        after:h-full
                        after:w-full
                        after:top-0
                        after:left-0
                        after:bg-black
                        after:opacity-0
                        hover:after:opacity-40
                        after:z-20
       }
               
                
}
